.formWrapper{
    margin: auto;
    text-align: center;
     padding-top: 20px;
}

.noteButton{
    border: none;
    margin-right: 25px;
    width: 90px;
    font-size: 1.3em;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #D3D3D3;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

.noteButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput{
    width: 400px;
    min-width: 400px;
    font-size: 1.3em;
    padding-left: 20px;
    border-radius: 10px;
    text-align: right;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px;
    margin: 30px;
    color: black;
    transition: 0.2s ease-out;
}

.noteInput2{
    width: 270px;
    min-width: 270px;
    font-size: 1.3em;
    padding-left: 20px;
    border-radius: 10px;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px;
    margin: 30px;
    color: black;
    transition: 0.2s ease-out;
}

.noteInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}