table, .tableContainer {
	font-family: 'Comfortaa', sans-serif;
	margin:auto;
	text-align: center;
	color: black;
	padding: 10px;
	width: 500px;
	
}

.tableContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 10px solid white;
    animation-delay: 2s;
}

div.arrow-up {
	width: 0; 
	height: 0; 

	border-left: 10px solid transparent;  /* left arrow slant */
	border-right: 10px solid transparent; /* right arrow slant */
	border-bottom: 10px solid red; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	margin-left: -16px;
	transform: rotate(46deg);

}

th, tr, td {
	width: 12px;
	height: 12px;
	font-family: 'Comfortaa', sans-serif;
	font-size: 12px;
	color: black;
	border: 1px solid gray;
	padding: 10px;
}

.today {
	font-weight: 800;
}

.active {
	background-color: salmon;
}

.subject {
	width: 30px;
	text-align: right;
	border-radius: 0
}

.javascript {
	color: pink;
}

.

.showOnce {
	color: pink;
}

.showTwice {
	color: salmon;
}

.showThrice {
	color: dark red;
}