body {
  background:
  linear-gradient(
    -50deg,
    yellow,
    transparent
  ),
  linear-gradient(
    90deg,
    pink,
    transparent
  ),
  linear-gradient(
    -100deg,
    skyblue,
    transparent
  );
  
background-blend-mode: screen;
background-repeat: no-repeat;
background-size: cover;
}

.tagline {
   font-size: 60px;
   font-family: 'Poiret One', cursive;
   color: black;
}

.notesHeader {
  font-family: 'Comfortaa', cursive;
  font-size: 86px;
  color: black;
  padding-top: 65px;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.clock {
  position: relative;
  display: inline-block;
}

.minHands {
  width: 3px;
  height: 20px;
  background-color: black;
  position: absolute;
  margin-top: 35px;
  margin-left: -29px;
}

.hrHands {
  width: 3px;
  height: 13px;
  background-color: red;
  position: absolute;
  transform: rotate(30deg);
  margin-top: 41px;
  margin-left: -25px;
}
